.dashboard {
  display: block;
}

.signUpContainer {
  display: block;
  width: 500px;
  padding: 16px;
  margin: auto;

}

.signUpForm {
  display: block;
  width: 30%;
  padding: 8px;
  margin: auto;
}